<div class="container">
    <div class="row">
        <h4>Registration Form</h4>
        <span>Personal Details</span>
        <div class="col-md-3">

            
            <div class="row mt-4">
             <label for="name"> <h5>Name :</h5> </label>
            </div>


            <div class="row mt-4">
             <label for="email"><h5>Email :</h5></label>
             
            </div>
           


         <div class="row mt-4">
             <label for="mobilenumber"><h5>Mobile Number :</h5></label>
            </div>


         <div class="row mt-4">
             <label for="password"><h5>Password :</h5></label>
            </div>





            <div class="row mt-4">
             <label for="confirmpassword"><h5>Confirm Password :</h5></label>
            </div>
        </div>


    <div class="col-md-8">
        <div class="row mt-4">
        <input type="text" name="name" id="name">
        </div>
        <div class="row mt-4">
        <input type="text" name="email" id="email">
        </div>
        <div class="row mt-4">
        <input type="text" name="mobilenumber" id="mobilenumber">
        </div>
        <div class="row mt-4">
        <input type="text" name="password" id="password">
        </div>
        <div class="row mt-4">
        <input type="text" name="confirmpassword" id="confirmpassword">
        </div>
    </div>



    </div>
</div>